body{
	background-color:#202020;
}

h1{
	font-size:72px;
	font-family:Comic Sans MS;
	padding:0px;
	display:inline;
	color:#f1f1f1;
}

h3{
	font-size:24px;
	font-family:Comic Sans MS;
	padding:0px;
	display:block;
	color:#f1f1f1;
}

p {
	color:#f1f1f1;
	font-family:courier;
}

a {
	text-decoration:none;
	color:inherit;
}

.greenLink {
	color:#10d010;
	font-family:courier;
}

.greenLink:hover {
	color:#10ff10;
}

.ns-wrapper {
	text-align: center;
	width: 90vw;
	max-width: 1000px;
	margin: auto;
}

.ns-item {
	width: 300px;
	height: 300px;
	max-width: 85vw; 
	max-height: 85vw; 
	display: inline-block;
	padding: 10px;
	margin: 0px;
}

.center-text {
	display: table-cell;
	vertical-align: middle;
	width: 300px;
	height: 270px;
	max-width: 85vw; 
	max-height: 80vw; 
}

.nicesquare {
	display: table;
	position: absolute;
	width: 300px;
	height: 300px;
	max-width: 85vw; 
	max-height: 85vw; 
	box-sizing: border-box;
	border: 3px solid #000000;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
	border-radius: 50%;
}

.nicesquare:hover {
	border-radius: 25%;
	border: 8px solid #F1F1F1;
}

#maze {
	background-color: #00BCD4;
	color: hsla(0,0%,100%,.87);
	font-family: 'Roboto', 'Noto', sans-serif;
	font-size: 75px;
	font-weight: bold;
	display:table-cell;
	vertical-align: middle;
	text-align:center;
}

#experiments {
	background-color: #DDD;
	color: #111;
	font-family: 'Impact';
	font-size: 65px;
	display:table-cell;
	vertical-align: middle;
	text-align:center;
}