body {
    background-color:#202020;
}

h1, h2, h3{
    font-family:Comic Sans MS;
    text-align:center;
    color:#f1f1f1;
    display:inline;
}

h1 {
    font-size:72px;
}

h2 {
    font-size:48px;
}

h3 {
    font-size:36px;
}

.spacer {
    line-height: 0.5
}

p {
	font-family:Comic Sans MS;
    text-align:center;
    color:#f1f1f1;
}

a {
	font-family:consolas;
	size:24px;
	text-decoration:none;
}

a:link, a:visited {
	color:#207020;
}

a:hover {
	color:#409040;
	font-weight: bold
}