@media (max-width: 500px) {
	#mainCanvas {
		width: 100vw;
	}
}

@media (min-width: 501px) {
	#mainCanvas {
		width: 500px;
	}
}

@media (max-height: 800px) {
	#mainCanvas {
		height: 100vh
	}
}

@media (min-height: 801px) {
	#mainCanvas {
		height: 800px;
	}
}

body {
	margin: 0px;
}

#mainCanvas {
	display: block;
}

.wrapper { overscroll-behavior: none }

