body{
	background-color:#202020;
}

.nicefont {
	font-size:72px;
	font-family:Comic Sans MS;
}

h1{
	font-size:72px;
	font-family:Comic Sans MS;
	padding:0px;
	display:inline;
	color:#f1f1f1;
	text-align:center;
}

h3{
	font-size:24px;
	font-family:Comic Sans MS;
	padding:0px;
	display:block;
	color:#f1f1f1;
	text-align:center;
}

p {
	color:#f1f1f1;
	font-family:courier;
}

a {
	text-decoration:none;
}

.ns-wrapper {
	text-align: center;
	width: 90vw;
	max-width: 1000px;
	margin: auto;
}

.ns-item {
	width: 300px;
	height: 300px;
	max-width: 85vw; 
	max-height: 85vw; 
	display: inline-block;
	padding: 10px;
	margin: 0px;
}

.center-text {
	display: table-cell;
	vertical-align: middle;
	width: 300px;
	height: 270px;
	max-width: 85vw; 
	max-height: 80vw; 
}

.nicesquare {
	display: table;
	position: absolute;
	width: 300px;
	height: 300px;
	max-width: 85vw; 
	max-height: 85vw; 
	box-sizing: border-box;
	border: 3px solid #000000;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
	border-radius: 50%;
}

.nicesquare:hover {
	border-radius: 25%;
	border: 8px solid #F1F1F1;
	font-size:34px;
}

#caves {
	background-color:#442233;
	font-family: impact;
	font-size:52px;
	color:#10d010;
}

#caves:hover {
	font-size: 56px;
}

#generators {
	background-color:#221177;
	font-family:agency fb;
	font-size:52px;
	font-weight:bold;
	color:#DDDD22;
}

#generators:hover {
	font-size:56px;
}

#chemistry {
	background-color:#33bb00;
	font-family:arial;
	font-size:45px;
	font-weight:bold;
	color:#bb0088;
}

#chemistry:hover {
	font-size:50px;
}

#mazegen {
	background-color:#ff784f;
	font-family:verdana;
	font-size:55px;
	font-weight:bold;
	color:#9e4fff;
}

#mazegen:hover {
	font-size:62px;
}

a {
	text-decoration:none;
	color: inherit;
}

#backlink {
	color:#10d010;
	font-family:courier;
	font-size:20pt
}